.subcategories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 15px 0 15px;
    &__btn {
        padding: 5px 10px;
        background: none;
        border: 1px solid #1a1a1a;
        border-radius: 50px;
        cursor: pointer;
    }
}
.articleWraper {
    width: 90%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: calc(51% - 1rem) calc(50% - 1rem);
    gap: 1rem;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.unfoundArticles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .articleContainer {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1269px) {
    .articleWraper {
        grid-template-columns: calc(33% - 1rem) calc(33% - 1rem) calc(33% - 1rem);
        justify-content: center;
    }
}

@media screen and (min-width: 1270px) {
    .articleWraper {
        grid-template-columns: calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem);
    }
}