<app-header></app-header>
<main>
    <article>
        <section>
            <h3 *ngIf="errorsMsg">{{ errorsMsg }}</h3>
            <form (ngSubmit)="loginUser()">
                <div>
                    <label for="emailOrUsername">Email or Username:</label>
                    <input type="text" name="emailOrUsername" id="emailOrUsername" placeholder="Please enter your email or username" [(ngModel)]="loginData.emailOrUsername" (blur)="emailOrUsernameVerification()" required>
                </div>

                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Please enter your password" [(ngModel)]="loginData.password" (blur)="passwordVerification()" required>
                </div>

                <button>Log in</button>
            </form>
        </section>
    </article>
</main>