<app-header></app-header>
<main>
    <article>
        <section>
            <form>
                <div>
                    <label for="">
                        Email or Username:
                        <input type="text" name="emailOrUsername" id="emailOrUsername" placeholder="Please enter your email or username" />
                    </label>
                </div>

                <div>
                    <label for="">
                        Password:
                        <input type="text" name="password" id="password" placeholder="Please enter your password" />
                    </label>
                </div>

                <button>Log in</button>
            </form>
        </section>
    </article>
</main>