<app-header></app-header>
<main>
    <article>
        <section>
            <form>
                <div>
                    <label for="">
                        Email:
                        <input type="text" name="email" id="email" placeholder="Please enter an email" />
                    </label>
                </div>

                <div>
                    <label for="">
                        Username:
                        <input type="text" name="username" id="username" placeholder="Please enter a username" />
                    </label>
                </div>

                <div>
                    <label for="">
                        Password:
                        <input type="text" name="password" id="password" placeholder="Please enter a password" />
                    </label>
                </div>

                <button>Sign up</button>
            </form>
        </section>
    </article>
</main>