<app-header></app-header>
<main class="main">
    <article>
        <div *ngIf="pageLoading">
            <h2>Loading...</h2>
        </div>

        <div *ngIf="pageLoading === false">
            <section>
                <h2>Get all users :</h2>
                <div *ngFor="let user of users" class="elementBox">
                    <div>
                        <img [src]="user.profile_picture" alt="" width="100px" height="100px">
                    </div>
                    <div class="elementBox__section">
                        <span class="elementBox__section__element">Mail: {{ user.email }}</span>
                        <span class="elementBox__section__element">Username: {{ user.username }}</span>
                        <span class="elementBox__section__element">Admin {{ user.is_admin }}</span>
                        <span *ngIf="user.is_admin == true">
                            <button (click)="revokeAdminStatus(user.id)" class="changeStatus-btn register status">
                                <span class="changeStatus">Revoke admin status</span>
                            </button>
                        </span>
                        <span *ngIf="user.is_admin == false">
                            <button (click)="setAdminStatus(user.id)" class="changeStatus-btn register status">
                                <span class="changeStatus">Set to Admin</span>
                            </button>
                        </span>
                    </div>
                </div>
            </section>

            <section>
                <h2>Get all articles :</h2>
                <div *ngFor="let article of articles" class="elementBox">
                    <div>
                        <img [src]="article.pictures[0]" alt="" width="100px" height="100px">
                    </div>
                    <div class="elementBox__section">
                        <span class="elementBox__section__element">{{ article.title }}</span>
                        <span class="elementBox__section__element">{{ article.size }}</span>
                        <span class="elementBox__section__element">{{ article.price }}</span>
                    </div>
                </div>
            </section>

            <section>
                <h2>Create new article :</h2>
                <form [formGroup]="newArticleForm">
                    <div>
                        <label for="title">Title*</label>
                        <input type="text" formControlName="title" id="title" class="luxury-input fieldMargin" name="title" placeholder="Ex: Sweat for men..." required/>
                    </div>
                    <div>
                        <label for="description">Description*</label>
                        <textarea name="description" formControlName="description" id="description" class="luxury-input fieldMargin resizableField" placeholder="Description of the article"></textarea>
                    </div>
                    <div formGroupName="category">
                        <label for="categorie">Category*</label>
                        <select name="categorie" id="categorie" class="luxury-input fieldMargin" formControlName="main" (change)="onCategoryChange($event)">
                            <option *ngFor="let category of categories" [value]="category.category_name">{{ category.category_name }}</option>
                        </select>
                    </div>
                    <div formGroupName="category">
                        <label for="subCategorie">Sub category*</label>
                        <select name="subCategorie" id="categorie" class="luxury-input fieldMargin" formControlName="sub">
                            <option *ngFor="let subCategory of subCategoryResponse" [value]="subCategory.sub_category_name">{{ subCategory.sub_category_name }}</option>
                        </select>
                    </div>
                    <div>
                        <label for="gender">Gender*</label>
                        <select name="gender" id="gender" class="luxury-input fieldMargin" *ngIf="verifyGender('F') == 'F' ">
                            <option value="f">Female</option>
                        </select>

                        <select name="gender" id="gender"class="luxury-input fieldMargin" *ngIf="verifyGender('H') == 'H' ">
                            <option value="m">Male</option>
                        </select>

                        <select name="gender" id="gender"class="luxury-input fieldMargin" *ngIf="verifyGender('H/F') == 'H/F' ">
                            <option value="h/f">Male/Female</option>
                            <option value="h/f">Male</option>
                            <option value="h/f">Female</option>
                        </select>
                    </div>
                    <div>
                        <label for="brand">Brand*</label>
                        <input type="text" id="brand" class="luxury-input fieldMargin" name="brand" formControlName="brand" placeholder="Ex: Nike, Adidas, Puma" required/>
                    </div>
                    <div>
                        <label for="price">Price*</label>
                        <input type="number" id="price" class="luxury-input fieldMargin" name="price" formControlName="price" placeholder="Ex: 12.99, 29.99, ..." required/>
                    </div>
                    <div>
                        <label for="images">Images*</label>
                        <textarea name="images" id="images" class="luxury-input fieldMargin resizableField" formControlName="images" placeholder="URL for all article image"></textarea>
                    </div>
                    <div formGroupName="specifications">
                        <label for="color">Color*</label>
                        <textarea name="color" formControlName="color" id="color" class="luxury-input fieldMargin resizableField" placeholder="Ex: #FFFFFF, #000000, #A1A1A1, ..."></textarea>
                    </div>
                    <div formGroupName="specifications">
                        <label>Size*</label>
                        <div formArrayName="size" class="sizeInput fieldMargin">
                            <div *ngFor="let sizeControl of sizes.controls; let i = index">
                                <input [formControlName]="i" type="checkbox"> {{ availableSizes[i] }}
                            </div>
                        </div>
                    </div>
                    <div formGroupName="specifications">
                        <label for="composition">Composition*</label>
                        <textarea name="composition" formControlName="composition" id="composition" class="luxury-input fieldMargin resizableField" placeholder="Composition of the clothe"></textarea>
                    </div>
                    <div formGroupName="specifications">
                        <label for="entretien">Entretien*</label>
                        <textarea name="entretien" formControlName="entretien" id="entretien" class="luxury-input fieldMargin resizableField" placeholder="Entretien of the clothe"></textarea>
                    </div>

                    <button (click)="addArticle()" class="btn">Add article</button>
                </form>
            </section>
        </div>
    </article>
</main>
<app-footer></app-footer>