.header {
    height: 55px;
    position: relative;
    text-transform: uppercase;
    &__log {
        position: absolute;
        left: 5px;  
    }
    &__heading {
        font-size: 1.3em;
        width: 9.2rem;
        display: inline-block;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
    }
    &__cart {
        position: absolute;
        right: 0;
    }
}

.item-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #e53238;
    color: white;
    border-radius: 50%;
    min-width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}