<app-header></app-header>
<main>
    <div class="landing_top_img">
        <video width="100%" autoplay loop muted playsinline class="topImg custom-video" #videoPlayer>
            <source src="assets/video/mode.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la balise vidéo.
        </video>
        <div class="landing_top_img__annoncement">
            <span class="landing_top_img__annoncement__title">DÉFILÉ</span>
            <h2 class="landing_top_img__annoncement__message">Homme - Femme Automne-Hiver 202X</h2>
        </div>
    </div>
    <nav class="nav_categories">
        <h2 class="nav_categories__heading">Explorez une sélection de créations de la Maison</h2>
        <ul class="categoryWrapper">
            <app-categorie-scheme *ngFor="let category of categories" [category]="category" class="categoryWrapper__basis"></app-categorie-scheme>
        </ul>
    </nav>
    <div class="parallax">
        <div class="parallax__image"></div>
    </div>
    <div class="articleWraper">
        <h2>Women fashion:</h2>
        <app-article-scheme *ngFor="let article of femaleArticles" [article]="article" class="articleContainer"></app-article-scheme>
    </div>
    <div class="articleWraper">
        <h2>Man fashion:</h2>
        <app-article-scheme *ngFor="let article of maleArticles" [article]="article" class="articleContainer"></app-article-scheme>
    </div>
    <div class="articleWraper">
        <h2>All articles:</h2>
        <app-article-scheme *ngFor="let article of articles" [article]="article" class="articleContainer"></app-article-scheme>
    </div>
</main>
<app-footer></app-footer>