.landing_top_img{
    position: relative;
    &__annoncement {
        position: absolute;
        bottom: 25px;
        z-index: 999;
        color: #fff;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.custom-video::-webkit-media-controls-timeline {
    display: none;
}
  
.custom-video::-webkit-media-controls-current-time-display,
.custom-video::-webkit-media-controls-time-remaining-display {
    display: none;
}
  
.custom-video::-webkit-media-controls-panel {
    background: transparent;
  
}

.nav_categories {
    margin-bottom: 50px;
    &__heading {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
    }
}
.categoryWrapper {
    padding: 0;
    display: grid;
    grid-template-columns: calc(51% - 1rem) calc(50% - 1rem);
    gap: 1rem;
    &__basis {
        width: 100%;
    }
}
.articleWraper {
    display: grid;
    grid-template-columns: calc(51% - 1rem) calc(50% - 1rem);
    gap: 1rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.articleContainer {
    display: flex;
    justify-content: center;
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.parallax {
    position: relative;
    height: 50vh; 
    overflow: hidden;
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://i.ibb.co/h1rv663v/Women-Nautical.webp');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        z-index: -1; 
    }
}


@media screen and (min-width: 768px) {
    .topImg {
        height: 95vh;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        &__heading {
            font-size: 2.3em;
            width: 16.2rem;
        }
    }

    .categoryWrapper {
        grid-template-columns: calc(33% - 1rem) calc(33% - 1rem) calc(33% - 1rem);
        justify-content: center;
    }

    .parallax {
        height: 70vh;
    }

    .articleWraper {
        grid-template-columns: calc(33% - 1rem) calc(33% - 1rem) calc(33% - 1rem);
        justify-content: center;
    }
}

@media screen and (min-width: 1024px)  {
    .categoryWrapper, .articleWraper {
        width: 80%;
    }
    .categoryWrapper {
        margin: auto;
    }

    .parallax {
        height: 90vh;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1269px) {
    .categoryWrapper, .articleWraper {
        grid-template-columns: calc(33% - 1rem) calc(33% - 1rem) calc(33% - 1rem);
        justify-content: center;
    }
}

@media screen and (min-width: 1270px) and (max-width: 1440px) {
    .categoryWrapper, .articleWraper {
        grid-template-columns: calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem);
    }
}

@media screen and (min-width: 1440px) {
    .categoryWrapper, .articleWraper {
        grid-template-columns: calc(20% - 0.75rem) calc(20% - 0.75rem) calc(20% - 0.75rem) calc(20% - 0.75rem);
        justify-content: center;
    }  
}